CreateMaterialUsingBAPI/Schemas/.SAP/SAPConnectionResource/functionModules/BAPI_MATERIAL_GET_DETAIL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAPConnectionResource/BAPI_MATERIAL_GET_DETAIL" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAPConnectionResource/BAPI_MATERIAL_GET_DETAIL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:BAPI_MATERIAL_GET_DETAIL_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:BAPI_MATERIAL_GET_DETAIL_RequestParam"/>
    <xsd:complexType name="BAPI_MATERIAL_GET_DETAIL_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="1" name="MATERIAL" r3:abapType="C" r3:document="Material No." r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATERIAL_EVG" type="tns:BAPIMGVMATNR"/>
            <xsd:element minOccurs="0" name="PLANT" r3:abapType="C" r3:document="Plant" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VALUATIONAREA" r3:abapType="C" r3:document="Valuation area" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VALUATIONTYPE" r3:abapType="C" r3:document="Valuation type" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:BAPI_MATERIAL_GET_DETAIL_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:BAPI_MATERIAL_GET_DETAIL_ResponseParam"/>
    <xsd:complexType name="BAPI_MATERIAL_GET_DETAIL_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="MATERIALPLANTDATA" type="tns:BAPIMATDOC"/>
            <xsd:element minOccurs="0" name="MATERIALVALUATIONDATA" type="tns:BAPIMATDOBEW"/>
            <xsd:element minOccurs="0" name="MATERIAL_GENERAL_DATA" type="tns:BAPIMATDOA"/>
            <xsd:element minOccurs="0" name="RETURN" type="tns:BAPIRETURN"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:BAPI_MATERIAL_GET_DETAIL_FaultParam"/>
    <xsd:complexType name="BAPI_MATERIAL_GET_DETAIL_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPIMGVMATNR">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="MATERIAL_EXT" nillable="true" r3:abapType="C" r3:document="External Long Material Number" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATERIAL_VERS" nillable="true" r3:abapType="C" r3:document="Material Version Number" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="80">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATERIAL_GUID" nillable="true" r3:abapType="C" r3:document="Material number (external GUID)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="100">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPIMATDOC">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PUR_GROUP" nillable="true" r3:abapType="C" r3:document="Purchasing Group" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ISSUE_UNIT" nillable="true" r3:abapType="C" r3:document="Unit of issue" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="6">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPIMATDOBEW">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PRICE_CTRL" nillable="true" r3:abapType="C" r3:document="Price control indicator" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MOVING_PR" nillable="true" r3:abapType="P" r3:document="Moving average price/periodic unit price" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STD_PRICE" nillable="true" r3:abapType="P" r3:document="Standard price" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="14">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PRICE_UNIT" nillable="true" r3:abapType="P" r3:document="Price Unit" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="26">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="5"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CURRENCY" nillable="true" r3:abapType="C" r3:document="Currency Key" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="30">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CURRENCY_ISO" nillable="true" r3:abapType="C" r3:document="ISO code currency" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="40">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPIMATDOA">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="MATL_DESC" nillable="true" r3:abapType="C" r3:document="Material Description (Short Text)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="OLD_MAT_NO" nillable="true" r3:abapType="C" r3:document="Old material number" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="80">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATL_TYPE" nillable="true" r3:abapType="C" r3:document="Material Type" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="116">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IND_SECTOR" nillable="true" r3:abapType="C" r3:document="Industry sector" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="124">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DIVISION" nillable="true" r3:abapType="C" r3:document="Division" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="126">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATL_GROUP" nillable="true" r3:abapType="C" r3:document="Material Group" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="130">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PROD_HIER" nillable="true" r3:abapType="C" r3:document="Product hierarchy" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="148">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BASIC_MATL" nillable="true" r3:abapType="C" r3:document="Basic material (basic constituent of a material) - obsolete" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="184">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STD_DESCR" nillable="true" r3:abapType="C" r3:document="Industry Standard Description (such as ANSI or ISO)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="212">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LAB_DESIGN" nillable="true" r3:abapType="C" r3:document="Laboratory/design office" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="248">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PROD_MEMO" nillable="true" r3:abapType="C" r3:document="Production/inspection memo" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="254">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PAGEFORMAT" nillable="true" r3:abapType="C" r3:document="Page Format of Production Memo" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="290">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CONTAINER" nillable="true" r3:abapType="C" r3:document="Container requirements" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="298">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="STOR_CONDS" nillable="true" r3:abapType="C" r3:document="Storage conditions" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="302">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TEMP_CONDS" nillable="true" r3:abapType="C" r3:document="Temperature conditions indicator" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="306">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BASE_UOM" nillable="true" r3:abapType="C" r3:document="Base Unit of Measure" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="310">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EAN_UPC" nillable="true" r3:abapType="C" r3:document="International Article Number (EAN/UPC)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="316">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EAN_CAT" nillable="true" r3:abapType="C" r3:document="Category of International Article Number (EAN)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="352">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SIZE_DIM" nillable="true" r3:abapType="C" r3:document="Size/dimensions" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="356">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GROSS_WT" nillable="true" r3:abapType="P" r3:document="Gross Weight" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="420">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NET_WEIGHT" nillable="true" r3:abapType="P" r3:document="Net Weight" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="427">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="UNIT_OF_WT" nillable="true" r3:abapType="C" r3:document="Weight Unit" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="434">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VOLUME" nillable="true" r3:abapType="P" r3:document="Volume" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="440">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VOLUMEUNIT" nillable="true" r3:abapType="C" r3:document="Volume unit" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="448">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LENGTH" nillable="true" r3:abapType="P" r3:document="Length" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="454">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="WIDTH" nillable="true" r3:abapType="P" r3:document="Width" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="461">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="HEIGHT" nillable="true" r3:abapType="P" r3:document="Height" r3:javaType="java.math.BigDecimal" r3:jcoType="2" r3:offset="468">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="UNIT_DIM" nillable="true" r3:abapType="C" r3:document="Unit of Dimension for Length/Width/Height" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="476">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MANU_MAT" nillable="true" r3:abapType="C" r3:document="Manufacturer Part Number" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="482">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MFR_NO" nillable="true" r3:abapType="C" r3:document="Number of a Manufacturer" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="562">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BASE_UOM_ISO" nillable="true" r3:abapType="C" r3:document="Base unit of measure in ISO code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="582">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="UNIT_OF_WT_ISO" nillable="true" r3:abapType="C" r3:document="Unit of weight in ISO code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="588">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="VOLUMEUNIT_ISO" nillable="true" r3:abapType="C" r3:document="Volume unit in ISO code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="594">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="UNIT_DIM_ISO" nillable="true" r3:abapType="C" r3:document="Unit for length/breadth/height in ISO code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="600">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATED_ON" nillable="true" r3:abapType="D" r3:document="Created On" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="606">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CREATED_BY" nillable="true" r3:abapType="C" r3:document="Name of Person who Created the Object" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="622">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LAST_CHNGE" nillable="true" r3:abapType="D" r3:document="Date of Last Change" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="646">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CHANGED_BY" nillable="true" r3:abapType="C" r3:document="Name of Person Who Changed Object" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="662">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MATL_CAT" nillable="true" r3:abapType="C" r3:document="Material Category" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="686">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EMPTIESBOM" nillable="true" r3:abapType="C" r3:document="Empties Bill of Material" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="690">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BASIC_MATL_NEW" nillable="true" r3:abapType="C" r3:document="Basic Material" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="692">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="48"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPIRETURN">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="Message type: S Success, E Error, W Warning, I Info, A Abort" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CODE" nillable="true" r3:abapType="C" r3:document="Message code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="Message Text" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="12">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LOG_NO" nillable="true" r3:abapType="C" r3:document="Application log: log number" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="452">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LOG_MSG_NO" nillable="true" r3:abapType="N" r3:document="Application log: Internal message serial number" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="492">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE_V1" nillable="true" r3:abapType="C" r3:document="Message Variable" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="504">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE_V2" nillable="true" r3:abapType="C" r3:document="Message Variable" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="604">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE_V3" nillable="true" r3:abapType="C" r3:document="Message Variable" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="704">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE_V4" nillable="true" r3:abapType="C" r3:document="Message Variable" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="804">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
