CreateMaterialUsingBAPI/Schemas/ebx-material-schema/EbxEventSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:ebxd="urn:ebx-schemas:deployment_1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="urn:ebx-schemas:deployment_1.0" />
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Material">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mandant" type="xs:string" />
              <xs:element name="matnr" type="xs:string" />
              <xs:element name="material-desc" type="xs:string" />
              <xs:element name="industrySector" type="xs:string" />
              <xs:element name="SalesText" type="xs:string" />
              <xs:element name="mat-type" type="xs:string" />
              <xs:element name="matl_group" type="xs:string" />
              <xs:element name="phasedOut" type="xs:boolean" />
              <xs:element name="recordStatus" type="xs:string" />
              <xs:element name="recordCreated" type="xs:boolean" />
              <xs:element name="basic-1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="general-data">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="base_uom" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dimensions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="gross_wt" type="xs:string" />
                          <xs:element name="unit_of_wt" type="xs:string" />
                          <xs:element name="net_weight" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="validFrom" type="xs:string" />
              <xs:element name="validTo" type="xs:string" />
            </xs:sequence>
            <xs:attribute ref="ebxd:creationTime" use="required" />
            <xs:attribute ref="ebxd:creator" use="required" />
            <xs:attribute ref="ebxd:lastTime" use="required" />
            <xs:attribute ref="ebxd:lastUser" use="required" />
            <xs:attribute ref="ebxd:uuid" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="ebxd:creationTime" use="required" />
      <xs:attribute ref="ebxd:creator" use="required" />
      <xs:attribute ref="ebxd:lastTime" use="required" />
      <xs:attribute ref="ebxd:lastUser" use="required" />
      <xs:attribute ref="ebxd:uuid" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>