CreateMaterialUsingBAPI/Schemas/ebx-material-schema/Get-Plant-ResponseSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rows">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="label" type="xs:string" />
              <xs:element name="details" type="xs:string" />
              <xs:element name="content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="content" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="material">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="content" type="xs:string" />
                          <xs:element name="label" type="xs:string" />
                          <xs:element name="details" type="xs:string" />
                          <xs:element name="selector" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="plant">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="content" type="xs:string" />
                          <xs:element name="label" type="xs:string" />
                          <xs:element name="details" type="xs:string" />
                          <xs:element name="selector" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MRPController">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="content" type="xs:string"/>
                          <xs:element name="selector" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="deliveryTimeInDays">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="content" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="materialGroup">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="content" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pagination">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstPage" />
              <xs:element name="previousPage" />
              <xs:element name="nextPage" />
              <xs:element name="lastPage" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>