CreateMaterialUsingBAPI/Schemas/ebx-material-schema/Get-Material-ResponseSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="JSON">
		<xs:complexType>
			<xs:all>
				<xs:element name="rows">
					<xs:complexType>
						<xs:all>
							<xs:element name="label" type="xs:string"
								minOccurs="0" nillable="true" />
							<xs:element name="details" type="xs:string"
								minOccurs="0" nillable="true" />
							<xs:element name="content" minOccurs="0"
								nillable="true">
								<xs:complexType>
									<xs:all>
										<xs:element name="mandant" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="matnr" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="material-desc" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="SalesText" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="industrySector" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="label" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="mat-type" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="label" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="matl_group" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="label" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="matOwner" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="label" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="sourceMaterialId" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="label" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="phasedOut" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="phaseOutDate" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="recordStatus" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="recordCreated" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>


										<xs:element name="general-data" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" minOccurs="0"
														nillable="true">
														<xs:complexType>
															<xs:all>
																<xs:element name="base_uom" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																			<xs:element name="label" type="xs:string"
																				minOccurs="0" nillable="true" />
																			<xs:element name="details"
																				type="xs:string" minOccurs="0" nillable="true" />
																			<xs:element name="selector"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="old_mat_no" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="division" nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="lab_design" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="prod_memo" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="prod_hier" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="x_plant_matl_status"
																	minOccurs="0" nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																			<xs:element name="selector"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="valid_from" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="assign-effect-vals"
																	minOccurs="0" nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="genItemCatGroup"
																	minOccurs="0" nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="material-authorization-group"
											minOccurs="0" nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" minOccurs="0"
														nillable="true">
														<xs:complexType>
															<xs:all>
																<xs:element name="authorization-group"
																	minOccurs="0" nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="dimensions" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" minOccurs="0"
														nillable="true">
														<xs:complexType>
															<xs:all>
																<xs:element name="gross_wt" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="unit_of_wt" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="net_weight" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="volume" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="volumeunit" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="size_dim" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ean_upc" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ean_cat" minOccurs="0"
																	nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="packaging-material-data"
											minOccurs="0" nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" minOccurs="0"
														nillable="true">
														<xs:complexType>
															<xs:all>
																<xs:element name="matl-grp-pack-matls"
																	minOccurs="0" nillable="true">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="content"
																				type="xs:string" minOccurs="0" nillable="true" />
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>



										<xs:element name="Plants" nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="sourceSystem" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="label" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="details" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="sourceSystemId" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="duplicateTo" nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														nillable="true" />
													<xs:element name="selector" type="xs:string"
														nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="similarTo" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="successorOf" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
													<xs:element name="selector" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="validFrom" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="validTo" minOccurs="0"
											nillable="true">
											<xs:complexType>
												<xs:all>
													<xs:element name="content" type="xs:string"
														minOccurs="0" nillable="true" />
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="pagination" nillable="true"
					minOccurs="1">
					<xs:complexType>
						<xs:all>
							<xs:element name="firstPage" nillable="true"
								minOccurs="0" />
							<xs:element name="previousPage" nillable="true"
								minOccurs="0" />
							<xs:element name="nextPage" nillable="true"
								minOccurs="0" />
							<xs:element name="lastPage" nillable="true"
								minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>