CreateMaterialUsingBAPI/Schemas/ebx-material-schema/Get-Plant-ResponseSchema-output.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema targetNamespace="http://example.com/plant" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="plant">
    <xs:complexType>
      <xs:all>

        <xs:element name="rows" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element name="label" type="xs:string" nillable="true" minOccurs="0"/>
              <xs:element name="details" type="xs:string" nillable="true" minOccurs="0"/>
              <xs:element name="content" nillable="true" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="id" nillable="true" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="content" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="material" nillable="true" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="content" type="xs:string" nillable="true" minOccurs="0"/>
                          <xs:element name="label" type="xs:string" nillable="true" minOccurs="0"/>
                          <xs:element name="details" type="xs:string" nillable="true" minOccurs="0"/>
                          <xs:element name="selector" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="plant" nillable="true" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="content" type="xs:string" minOccurs="0" nillable="true"/>
                          <xs:element name="label" type="xs:string" nillable="true" minOccurs="0"/>
                          <xs:element name="details" type="xs:string" nillable="true" minOccurs="0"/>
                          <xs:element name="selector" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MRPController" nillable="true" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="content" type="xs:string" nillable="true" minOccurs="0"/>
                          <xs:element name="selector" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="deliveryTimeInDays" nillable="true" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="content" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="materialGroup" nillable="true" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="content" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>

      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>