CreateMaterialUsingBAPI/Schemas/ebx-material-schema/SAPInputRecordSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
	xmlns:tibex="http://www.tibco.com/bpel/2007/extensions"
	xmlns:tns="http://www.example.com/namespaces/tns/1686747150555"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.example.com/namespaces/tns/1686747150555">

	<xsd:element name="SAPInputRecord">

		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Material">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="rows">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="label" type="xsd:string" />
										<xsd:element name="details" type="xsd:string" />
										<xsd:element name="content">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="mandant">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:unsignedShort" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="matnr">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:unsignedByte" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="material-desc">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="SalesText">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="industrySector">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="label" type="xsd:string" />
																<xsd:element name="details"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="mat-type">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="label" type="xsd:string" />
																<xsd:element name="details"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="matl_group">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="label" type="xsd:string" />
																<xsd:element name="details"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="matOwner">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="phasedOut">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:boolean" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="phaseOutDate">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="recordStatus">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="recordCreated">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:boolean" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="basic-1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="general-data">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="content">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="base_uom">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																												<xsd:element name="label"
																													type="xsd:string" />
																												<xsd:element name="details"
																													type="xsd:string" />
																												<xsd:element name="selector"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="old_mat_no">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="division">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="lab_design">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="prod_memo">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="prod_hier">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element
																										name="x_plant_matl_status">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																												<xsd:element name="selector"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="valid_from">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element
																										name="assign-effect-vals">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="genItemCatGroup">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element
																				name="material-authorization-group">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="content">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element
																										name="authorization-group">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="dimensions">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="content">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="gross_wt">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="unit_of_wt">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="net_weight">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="volume">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="volumeunit">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="size_dim">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="ean_upc">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="ean_cat">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element
																				name="packaging-material-data">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="content">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element
																										name="matl-grp-pack-matls">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="content"
																													type="xsd:string" />
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Plants">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="details"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="sourceSystem">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="sourceSystemId">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="duplicateTo">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="similarTo">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="successorOf">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="validFrom">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="validTo">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Plant">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="rows">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="label" type="xsd:string" />
										<xsd:element name="details" type="xsd:string" />
										<xsd:element name="content">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="id">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="material">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="label" type="xsd:string" />
																<xsd:element name="details"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="plant">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="label" type="xsd:string" />
																<xsd:element name="details"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="MRPController">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
																<xsd:element name="selector"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="deliveryTimeInDays">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="materialGroup">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="content"
																	type="xsd:string" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
