CreateMaterialUsingBAPI/Schemas/.SAP/SAPSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05"
	targetNamespace="http://www.tibco.com/xmlns/sapscalar/2015/05"
	elementFormDefault="qualified" attributeFormDefault="qualified">

	<xsd:simpleType r3:type="segmentType" name="segmentType">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:simpleType r3:type="abapType" name="abapType">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType r3:type="javaType" name="javaType">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType r3:type="jcoType" name="jcoType">
		<xsd:restriction base="xsd:int" />
	</xsd:simpleType>
	<xsd:simpleType r3:type="offset" name="offset">
		<xsd:restriction base="xsd:int" />
	</xsd:simpleType>
	<xsd:simpleType r3:type="document" name="document">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="RFCException">
		<xsd:sequence>
			<xsd:element name="msg" nillable="true" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="msgCode" nillable="true" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SAPPluginException" type="r3:SAPPluginException_Type"/>
	
	<xsd:complexType name="SAPPluginException_Type">
        <xsd:sequence>
            <xsd:element name="msg" type="xsd:string" minOccurs="0" form="unqualified"/>
            <xsd:element name="msgCode" type="xsd:string" minOccurs="0" form="unqualified"/>
            <xsd:any minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="SAPSystemException" type="r3:SAPSystemException_Type"/>
	
	<xsd:complexType name="SAPSystemException_Type">
        <xsd:sequence>
            <xsd:element name="msg" type="xsd:string" minOccurs="0" form="unqualified"/>
            <xsd:element name="msgCode" type="xsd:string" minOccurs="0" form="unqualified"/>
            <xsd:any minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
	
	<xsd:element name="IDocParserEventSourceFault" type="r3:IDocParserEventSourceFault_Type"/>
	
	<xsd:complexType name="IDocParserEventSourceFault_Type">
		<xsd:sequence>
			<xsd:element name="msg" nillable="true" type="xsd:string" minOccurs="0" form="unqualified"/>
			<xsd:element name="msgCode" nillable="true" type="xsd:string" minOccurs="0" form="unqualified"/>
			<xsd:element name="idocNumber" nillable="true" minOccurs="0" form="unqualified">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="IDocReaderFault" type="r3:IDocReaderFault_Type"/>
	<xsd:complexType name="IDocReaderFault_Type">
		<xsd:sequence>
			<xsd:element name="msg" nillable="true" type="xsd:string" minOccurs="0" form="unqualified"/>
			<xsd:element name="msgCode" nillable="true" type="xsd:string" minOccurs="0" form="unqualified"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="postIDocStatusList" type="r3:postIDocStatusList_Type" />
	<xsd:complexType name="postIDocStatusList_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sessionID" type="xsd:string" />
			<xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string" />
			<xsd:element name="item" type="r3:postIDocItem_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="postIDocItem_Type">
		<xsd:sequence>
			<xsd:element name="TID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="postIDocNOMSGStatusList" type="r3:postIDocNOMSGStatusList_Type" />
	<xsd:complexType name="postIDocNOMSGStatusList_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sessionID" type="xsd:string" />
			<xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string" />
			<xsd:element name="item" type="r3:postIDocNOMSGItem_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="postIDocNOMSGItem_Type">
		<xsd:sequence>
			<xsd:element name="TID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="correlationID" type="xsd:string"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="errorMessage" type="xsd:string"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="idocNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="idocStatus" type="xsd:string"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="successMessage" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="idocReaderStatusList" type="r3:idocReaderStatusListst_Type" />

	<xsd:complexType name="idocReaderStatusListst_Type">
		<xsd:sequence>
			<xsd:element name="item" type="r3:idocReaderItem_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="idocReaderItem_Type">
		<xsd:sequence>
			<xsd:element name="MessageID" nillable="true"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="TID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DynamicProperties" type="r3:JmsDynamicProperties" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JmsDynamicProperties">
		<xsd:sequence>
			<xsd:element name="property" type="r3:JmsDynamicProperty" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JmsDynamicProperty">
	    <xsd:sequence>
	      <xsd:element name="name"  type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
	      <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
		  <xsd:element name="type"  type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
	     </xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="idocListenerStatusListJMS" type="r3:idocListenerStatusList_JMSType" />

	<xsd:complexType name="idocListenerStatusList_JMSType">
		<xsd:sequence>
			<xsd:element name="item" type="r3:idocListenerItem_JMSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="idocListenerItem_JMSType">
		<xsd:sequence>
			<xsd:element name="IDocNumber" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MessageID" nillable="true" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="idocListenerStatusListKAFKA" type="r3:idocListenerStatusList_KAFKAType" />

	<xsd:complexType name="idocListenerStatusList_KAFKAType">
		<xsd:sequence>
			<xsd:element name="item" type="r3:idocListenerItem_KAFKAType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="idocListenerItem_KAFKAType">
		<xsd:sequence>
			<xsd:element name="IDocNumber" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TopicName" nillable="true" type="xsd:string" minOccurs="0" />
			<xsd:element name="PartitionID" nillable="true" type="xsd:int" minOccurs="0" />
			<xsd:element name="Offset" nillable="true" type="xsd:int" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="idocListenerStatusListNOMSG" type="r3:idocListenerStatusList_NOMSGType" />

	<xsd:complexType name="idocListenerStatusList_NOMSGType">
		<xsd:sequence>
			<xsd:element name="item" type="r3:idocListenerItem_NOMSGType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="idocListenerItem_NOMSGType">
		<xsd:sequence>
			<xsd:element name="IDocNumber" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SAPIDOC" type="r3:SAPIDOC_TYPE" minOccurs="0"/>
			<xsd:element name="IDoc" type="r3:NoMsgIDocType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NoMsgIDocType">
		<xsd:sequence>
			<xsd:element name="ControlRecord" type="xsd:string" nillable="true" />
			<xsd:element name="DataRecord" type="r3:NoMsgDataRecordType" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NoMsgDataRecordType">
		<xsd:sequence>
			<xsd:element name="item" type="r3:NoMsgSegmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NoMsgSegmentType">
		<xsd:sequence>
			<xsd:element name="Segname" nillable="true" minOccurs="0">
			<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Data" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="IDocAckOutput" type="r3:IDocAckOutput_Type"/>

	<xsd:complexType name="IDocAckOutput_Type">
		<xsd:sequence>
			<xsd:element name="TID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="statusList" type="r3:statusList_Type" />

	<xsd:complexType name="statusList_Type">
		<xsd:sequence>
<!-- 	
			<xsd:element name="sessionID" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="27" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
-->
			<xsd:element name="item" type="r3:item_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="item_Type">
		<xsd:sequence>
			<xsd:element name="idocStatus" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="statusCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="idocNumber" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="msgType" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="client" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="senderPort">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="senderPartnerNumber">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="receiverPort">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="receiverPartnerNumber">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="successMsg" nillable="true" type="xsd:string" minOccurs="0" />
			<xsd:element name="errorMsg" nillable="true" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="IDocListenerOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="fake" nillable="true" type="xsd:string"
					minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="EDI_DD40" type="r3:EDI_DD40_Type" />
	
	<xsd:complexType name="EDI_DD40_Type">
		<xsd:sequence>
			<xsd:element name="SEGNAM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MANDT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOCNUM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SEGNUM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PSGNUM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HLEVEL" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SDATA" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string" default="detail"/>
	</xsd:complexType>

	<xsd:element name="EDI_DC40" type="r3:EDI_DC40_Type" />

	<xsd:complexType name="SAPIDOC_TYPE">
		<xsd:sequence>
			<xsd:element name="TABNAM" fixed="EDI_DC40" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of Table Structure</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MANDT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Client</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOCNUM" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>IDoc number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOCREL" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP Release for IDoc</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATUS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of IDoc</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DIRECT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OUTMOD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Output mode</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EXPRSS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Overriding in inbound processing
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TEST" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Test flag</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IDOCTYP">
				<xsd:annotation>
					<xsd:documentation>Name of basic type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CIMTYP">
				<xsd:annotation>
					<xsd:documentation>Extension (defined by customer)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESTYP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESCOD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message code</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESFCT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message Function</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EDI standard, flag</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STDVRS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EDI standard, version and release
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STDMES" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EDI message type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPOR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sender port (SAP System, external subsystem)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPRT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner type of sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPFC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner Function of Sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPRN" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner Number of Sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDSAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sender address (SADR)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="21" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDLAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Logical address of sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPOR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Receiver port</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPRT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner Type of Receiver</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPFC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner function of recipient
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPRN" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner Number of Receiver</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVSAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recipient address (SADR)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="21" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVLAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Logical address of recipient
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CREDAT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Created on</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CRETIM" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Created at</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REFINT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transmission file (EDI Interchange)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REFGRP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message group (EDI Message Group)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REFMES" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message (EDI Message)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ARCKEY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Key for external message archive
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SERIAL" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Serialization</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string" default="header"/>
	</xsd:complexType>

	<xsd:complexType name="EDI_DC40_Type">
		<xsd:sequence>
			<xsd:element name="TABNAM" fixed="EDI_DC40">
				<xsd:annotation>
					<xsd:documentation>Name of Table Structure</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MANDT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Client</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOCNUM" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>IDoc number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOCREL" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP Release for IDoc</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATUS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of IDoc</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DIRECT">
				<xsd:annotation>
					<xsd:documentation>Direction</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OUTMOD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Output mode</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EXPRSS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Overriding in inbound processing
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TEST" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Test flag</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IDOCTYP">
				<xsd:annotation>
					<xsd:documentation>Name of basic type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CIMTYP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Extension (defined by customer)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESTYP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESCOD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message code</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESFCT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message Function</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EDI standard, flag</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STDVRS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EDI standard, version and release
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STDMES" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EDI message type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPOR">
				<xsd:annotation>
					<xsd:documentation>Sender port (SAP System, external subsystem)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPRT">
				<xsd:annotation>
					<xsd:documentation>Partner type of sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPFC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner Function of Sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDPRN">
				<xsd:annotation>
					<xsd:documentation>Partner Number of Sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDSAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sender address (SADR)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="21" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SNDLAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Logical address of sender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPOR">
				<xsd:annotation>
					<xsd:documentation>Receiver port</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPRT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner Type of Receiver</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPFC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner function of recipient
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVPRN">
				<xsd:annotation>
					<xsd:documentation>Partner Number of Receiver</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVSAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Recipient address (SADR)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="21" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RCVLAD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Logical address of recipient
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CREDAT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Created on</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CRETIM" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Created at</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REFINT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transmission file (EDI Interchange)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REFGRP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message group (EDI Message Group)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REFMES" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message (EDI Message)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ARCKEY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Key for external message archive
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SERIAL" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Serialization</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string" default="header"/>
	</xsd:complexType>
	<xsd:complexType name="RequestInputType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sessionID" type="xsd:string" />
			<xsd:element minOccurs="0" name="contextTimeout" type="xsd:long" />
			<xsd:element minOccurs="0" name="DynamicConnections" type="r3:DynamicConnection" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DynamicConnection">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="connectionType" type="xsd:string" />
			<xsd:element minOccurs="0" name="appServer" type="xsd:string" />
			<xsd:element minOccurs="0" name="systemNumber" type="xsd:string" />
			<xsd:element minOccurs="0" name="client" type="xsd:string" />
			<xsd:element minOccurs="0" name="userName" type="xsd:string" />
			<xsd:element minOccurs="0" name="password" type="xsd:string" />
			<xsd:element minOccurs="0" name="systemName" type="xsd:string" />
			<xsd:element minOccurs="0" name="msgServer" type="xsd:string" />
			<xsd:element minOccurs="0" name="groupName" type="xsd:string" />
			<xsd:element minOccurs="0" name="snc_mode" type="xsd:string" />
			<xsd:element minOccurs="0" name="snc_partnername" type="xsd:string" />
			<xsd:element minOccurs="0" name="snc_qop" type="xsd:string" />
			<xsd:element minOccurs="0" name="snc_lib" type="xsd:string" />
			<xsd:element minOccurs="0" name="snc_bSSO" type="xsd:boolean" />
			<xsd:element minOccurs="0" name="snc_SSOrecv" type="xsd:string" />
			<xsd:element minOccurs="0" name="snc_x509" type="xsd:string" />
			<xsd:element minOccurs="0" name="codePage" type="xsd:string" />
			<xsd:element minOccurs="0" name="language">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="rfcTrace" type="xsd:string" />
			<xsd:element minOccurs="0" name="useSAPGUI" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- RFCBAPI Listener -->
	<xsd:element name="ProcessStarterOutput" type="r3:ProcessStarterOutputType" />
	
	<xsd:complexType name="ProcessStarterOutputType">
		<xsd:sequence>
			<xsd:element name="SAPJCoAttributes" type="r3:SAPJCoAttributesType" minOccurs="0" />
			<xsd:element name="RfcRequest" type="xsd:anyType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SAPJCoAttributesType">
		<xsd:sequence>
			<xsd:element name="SAPJCO_RFCDESTINATION" type="xsd:string" minOccurs="0" />
			<xsd:element name="SAPJCO_CLIENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SAPJCO_CPICCONVID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SAPJCO_HOST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SAPJCO_SYSID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SAPJCO_USER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Respond to resquest -->
	<xsd:element name="ProcessStarterResponse" type="r3:ProcessStarterResponse"/>
	<xsd:complexType name="ProcessStarterResponse">
		<xsd:sequence>
			<xsd:element name="timeout" type="xsd:long" minOccurs="0" />
			<xsd:element name="SAPSystemException" type="r3:RFCException" minOccurs="0" />
			<xsd:element name="RfcResponse" type="xsd:anyType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="RequestInput" type="r3:RequestInput_Type" />
	<xsd:complexType name="RequestInput_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sessionID" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RequestInputType" type="r3:RequestInputType" />

	<xsd:complexType name="RequestOutputType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sessionID" type="xsd:string" />			
			<xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string" />
			<xsd:element minOccurs="0" name="DynamicConnections" type="r3:DynamicConnection" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RequestOutputType" type="r3:RequestOutputType" />
	
	<xsd:element name="AsynOutput" type="r3:AsynOutput" />

	<xsd:complexType name="AsynOutput">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SessionID" type="xsd:string" />			
			<xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string" />
			<xsd:element minOccurs="0" name="TID" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="IDocConfirmationStatusList">
		<xsd:sequence>
			<xsd:element name="TID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="correlationID" type="xsd:string"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="errorMessage" type="xsd:string"
				minOccurs="0">
			</xsd:element>


			<xsd:element name="idocNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="idocStatus" type="xsd:string"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="successMessage" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
    <xsd:element name="IDocConfirmationStatusList" type="r3:IDocConfirmationStatusList"></xsd:element>

	<xsd:element name="ProcessInput" type="r3:ProcessInput_Type"/>
    <xsd:complexType name="ProcessInput_Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="data" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
 
    <xsd:element name="IDocRendererInput" type="r3:IDocRendererInput_Type" />
    <xsd:complexType name="IDocRendererInput_Type">
		<xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:element name="IDocRendererOutput" type="r3:IDocRendererOutput_Type"/>
    <xsd:complexType name="IDocRendererOutput_Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="data" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="IDocConverterInput" type="r3:IDocConverterInput_Type" />
    <xsd:complexType name="IDocConverterInput_Type">
		<xsd:sequence>
			<xsd:element name="SAPIDOC" type="r3:SAPIDOC_TYPE" minOccurs="1"/>
			<xsd:element name="IDoc" type="r3:NoMsgIDocType" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="IDocConverterOutput" type="r3:IDocConverterOutput_Type"/>
    <xsd:complexType name="IDocConverterOutput_Type">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
